.wrapper-public {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: darkgreen;*/
    background: url('poker-background.jpg');
    width: 100vw;
    min-height: 100vh;
    color: white;
}

.wrapper-login {
    width: 520px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    overflow: hidden;
    padding: 30px 40px;
}

.wrapper-login form{
    background: inherit;
    backdrop-filter: blur(20px);
}

.wrapper-login .input-box {
    width: 95%;
    height: 50px;
    margin: 30px 0;
    background: inherit;
}

.wrapper-login h1{
    font-size: 36px;
    text-align: center;
    background: inherit;
}

.wrapper-login .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.wrapper-login .input-box input::placeholder{
    color:white;
}

.wrapper-login button{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,-1);
    color: #333;
    font-weight: 600;
}


