.wrapper-public {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    width: inherit;
    min-height: inherit;
}

.wrapper-login {
    width: 50%;
    background-color: purple;
}

.wrapper-login .input-box {
    width: 95%;
    height: 50px;
}

.input-box input {
    width: 100%;
    height: 100%;
}