:root {
    --bonewhite: rgb(249, 246, 238);
    --linkhover: rgb(26, 255, 0);
}

* {
    background-color: var(--bonewhite);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 525;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: red;
    min-height: 100vh;
    width: 100vw;
}

.root {
    background-color: pink;
    min-height: 100vh;
    width: 100vw;
}